<div id="app-about" class="route-main-content">
    <h1 class="head"><i class="far fa-question-circle"></i> About</h1>
    <div class="text">
        <p>
            Lorem ipsum dolor sit amet mauris. Mauris vehicula est. Vivamus fermentum neque ultrices
            volutpat. Donec sodales neque ut.
        </p>
        <p>
            Vivamus ut venenatis nisl. Curabitur ultrices fringilla id, ullamcorper varius nunc,
            accumsan.
        </p>
        <p>
            Integer quis viverra vel, ornare lacus vestibulum ac, cursus dolor sit amet pede. Nulla
            ante. Duis a odio. Class aptent.
        </p>
    </div>
</div>
