@import 'src/private/styles/variables';

:host {
    width: 600px;
}

#app-not-found {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;

    &.route-main-content {
        width: 100%;
    }

    .head {
        color: $main-color;
        text-align: center;
    }

    .text {
        line-height: 1.5;

        p {
            text-align: center;
        }
    }
}
